@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: rgb(87, 88, 88);
    background: linear-gradient(322deg, rgba(88, 88, 88, 1) 10%, rgba(33, 33, 33, 1) 90%);
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

header {
    display: flex;
    flex-direction: column;
    height: 732px;
    align-items: flex-start;
    background-image: url("../img/banner01.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.banner-phrase {
    align-self: center;
    margin-top: 220px;
}

.menu {
    width: 100%;
    height: 50px;
    font-family: 'Arial';
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-self: center;
}

.menu ul {
    list-style: none;
    position: relative;
}

.menu ul li {
    float: right;
}

.menu a {
    padding: 8px 30px;
    display: block;
    text-decoration: none;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    font-family: 'Archivo Narrow';
    font-size: 1.1rem;
}

.menu ul ul {
    position: absolute;
    visibility: hidden;
    list-style: none;
}

.menu ul li:hover ul {
    visibility: visible;
}

.menu a:hover {
    background-color: #a1a1a1;
    color: rgb(255, 252, 88);
}

.menu ul ul li {
    float: none;
}

.menu ul ul li a {
    background-color: rgb(41, 72, 157);
    border-radius: 10px;
    list-style: none;
}

.button_menu {
    height: 45px;
    width: 45px;
    margin-right: 25px;
    background-color: #2F2F2F;
}

.button_menu:hover {

    background-color: #686868;
    transition: 0.3s;
}

/*CSS Banner*/
h1,
h2 {
    font-size: 4rem;
    color: #EBC42A;
    font-family: 'Teko', sans-serif;
    text-shadow: 5px 2px 10px #2F2F2F;
    font-weight: 400;
}

.banner h1 {
    width: 500px;
    margin-right: 70px;
}

main {
    padding: 0 30px;
}


/*CSS sessao_Planos*/
.sessao_planos {
    margin: auto;
    /*filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));sombreamento de texto de divs*/
    display: flex;
    flex-direction: column;
    justify-content: center
}

h2 {
    margin-top: 80px;
    text-shadow: 1px 3px 15px #000;
    align-self: center;
}

hr {
    margin: 80px 0;
    box-shadow: 0px 4px 4px #000;
}

.planos {
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
}

.planos div {
    height: 423px;
    width: 100%;
    border-radius: 10px;
    background-color: #EBC42A;
    box-shadow: 30px 40px 20px rgba(22, 22, 22, 0.527);

}

/*Css sessao_imagem_academia*/

.sessao_foto_academia {
    margin: auto;
    /*filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));sombreamento de texto de divs*/
    display: flex;
    flex-direction: column;
    justify-content: center
}

.fotos {
    margin-bottom: 20px;
    gap: 20px;

    display: flex;
    justify-content: space-evenly;

}

.fotos div {
    height: 241px;
    width: 100%;
    margin: 2px;
    box-shadow: 0px 40px 20px rgba(22, 22, 22, 0.425);

}

.fotos img {
    width: 100%;
    height: 100%;
    background-size: cover;
}

/*CSS sessao_descica_quem_somos*/
.descricao_quem_somos {
    display: flex;
    justify-content: space-around;
}

.descricao_texto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.descricao_texto h2 {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 4rem;
    text-shadow: none;

    align-self: flex-start;

}

.descricao_texto p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    color: #fff;
}

.descricao_texto button {
    height: 65px;
    width: 317px;
    border-radius: 10px;
    background-color: #90323D;

    align-self: center;
}

.descricao_texto a {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
}


.descricao_foto {
    height: 408px;
    width: 640px;
    background-color: #EBC42A;
}

footer {
    padding: 30px;
}


@media(min-width: 1431px) {
    .banner h1 {
        width: 1000px;
        margin-right: 70px;
        font-size: 7rem;
    }

    h2 {
        font-size: 5rem;
    }

    .planos div {
        height: 623px;
        width: 417px;

    }

    .fotos div {
        height: 341px;
    }

}




@media (max-width: 1147px) {
    .container {
        display: flex;
        justify-content: center;
    }

    nav {
        display: none;
    }

    .banner h1 {
        width: 600px;
        font-size: 4rem;
        margin: 0px;
    }

    h2 {
        font-size: 3rem;
    }

    .planos {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .planos div {
        height: 423px;
        width: 317px;
    }


    /*CSS sessao_foto_academia */
    .fotos div {
        height: 341px;
        width: 480px;

    }

    .sessao_foto_academia {
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center
    }

    .fotos {
        margin-bottom: 50px;

        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .fotos .foto_area2 {
        display: none;
    }

    /*CSS sessao_descica_quem_somos*/
    .descricao_quem_somos {
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
    }

    .descricao_texto {
        justify-content: center;
        align-items: center;
        padding: 30px;
        margin: 20px;
    }

    .descricao_texto h2 {
        font-size: 2.5rem;
        align-self: center;
        margin-bottom: 10px;
    }

    .descricao_texto p {
        margin-bottom: 20px;
    }

    .descricao_texto button {
        margin-bottom: 30px;
    }

    .descricao_foto {
        height: auto;
        width: auto;
        align-self: center;
    }
}


@media (max-width: 691px) {
    header {
        display: none;
    }

    nav {
        display: none;
    }

    .banner h1 {
        width: auto;
        height: auto;
        font-size: 1.8rem;
        margin: 0px;
    }

    .planos div {
        height: 323px;
        width: 227px;
    }

    /*CSS sessao_foto_academia */


    h2 {
        font-size: 2rem;
    }

    .descricao_foto img {
        height: auto;
        width: 364px;
        align-self: center;
    }
}