@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

header {
    display: flex;
    flex-direction: column;
    height: 732px; 
    align-items: flex-start;
    background-image: url(/img/banner01.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.banner-phrase {
    align-self: center;
    margin-top: 220px;
}

.menu {
    width: 100%;
    height: 50px;
    font-family: 'Arial';
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-self: center;
}

.menu ul {
    list-style: none;
    position: relative;
}

.menu ul li {
    float: right;
}

.menu a {
    padding: 8px 30px;
    display: block;
    text-decoration: none;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    font-family: 'Archivo Narrow';
    font-size: 1.1rem;
}

.menu ul ul {
    position: absolute;
    visibility: hidden;
    list-style: none;
}

.menu ul li:hover ul {
    visibility: visible;
}

.menu a:hover {
    background-color: #a1a1a1;
    color: rgb(255, 252, 88);
}

.menu ul ul li {
    float: none;
}

.menu ul ul li a {
    background-color: rgb(41, 72, 157);
    border-radius: 8px;
    list-style: none;
}

.banner-phrase {
    margin-top: 220px;
    align-self: center;
}

main {
    height: 732px;
    background-image: url("/img/banner02.png");
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 4px 4px #000;
    display: flex;
    align-items: center;
    justify-content: initial;
}

h1 {
    font-size: 4rem;
    color: #EBC42A;
    font-family: 'Teko', sans-serif;
    text-shadow: 5px 2px 10px #2f2f2f;
    font-weight: 400;
}

/*CSS sessao_nossa_equipe*/

.sessao_nossa_equipe1 {
    margin-top: 80px;
    margin-bottom: 80px;

}


/*CSS equipe 1*/


.equipe1 {
    display: flex;
    justify-content: flex-end;
}

.equipe2 {
    display: flex;
    justify-content: flex-start;
}


.bloco h2 {
    margin-bottom: 10px;
    font-size: 4rem;
    color: #fff;
    text-shadow: none;
    font-family: 'Open Sans', sans-serif;
}

.bloco p {
    font-size: 1.8rem;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    text-shadow: none;
}

.equipe1 .bloco {
    height: 376px;
    width: 600px;
    box-shadow: 10px 20px 100px #000;

    background-color: #A6A6A8;
}

.equipe1 .foto1,
.foto3 {
    height: 376px;
    width: 600px;
    box-shadow: 10px 20px 100px #000;
    background-color: #A6A6A8;
}



/*CSS equipe 2*/


.equipe2 {
    display: flex;
}

.equipe2 img {
    margin-right: 200px;
    box-shadow: 10px 20px 100px #000;
}

.equipe2 {
    display: flex;
}

.equipe2 .bloco {
    height: 376px;
    width: 600px;
    box-shadow: 10px 20px 100px #000;
    background-color: #A6A6A8;
}

.equipe2 .foto2,
.foto4 {
    height: 376px;
    width: 600px;
    box-shadow: 10px 20px 100px #000;
    background-color: #A6A6A8;
}



/*CCS foto colocadas no background*/
.foto1 {
    background-image: url("./img/foto_equipe01.png");
}

.foto2 {
    background-image: url("./img/foto_equipe01.png");
}

.foto3 {
    background-image: url("./img/foto_equipe01.png");
}

.foto4 {
    background-image: url("./img/foto_equipe01.png");
}



@media(min-width: 1900px) {
    .banner h1 {
        width: 1000px;
        margin-right: 70px;
        font-size: 7rem;
        align-items: center;
    }

    h2 {
        font-size: 5rem;
    }

    .equipe1 {
        display: flex;
        justify-content: center;
    }

    .equipe2 {
        display: flex;
        justify-content: center;
    }

}




@media (max-width: 1200px) {

    .container {
        display: flex;
        justify-content: center;
    }

    nav {
        display: none;
    }

    main {
        height: 500px;
        justify-content: center;
    }

    .banner h1 {
        width: 600px;
        font-size: 4rem;
        margin: 0px;
    }

    h2 {
        font-size: 3rem;
    }



    .equipe1 .bloco {
        height: 600px;
        width: 500px;

    }

    .equipe2 .bloco {
        height: 600px;
        width: 500px;
        margin-top: -305px;

    }


    .equipe1 .foto1,
    .foto3 {
        height: 600px;
        width: 600px;
        box-shadow: none;
        background-color: transparent;
        background-size: contain;
        background-repeat: no-repeat;

    }

    .equipe2 .foto2,
    .foto4 {
        height: 300px;
        width: 600px;
        box-shadow: none;
        background-color: transparent;
        background-size: contain;
        background-repeat: no-repeat;

    }




}


@media (max-width: 780px) {
    header {
        display: none;
    }

    main {
        height: 300px;
        justify-content: center;
    }

    .banner h1 {
        width: auto;
        height: auto;
        font-size: 1.8rem;
        margin: 0px;
    }


    h2 {
        font-size: 2rem;
    }


    .equipe1 {
        display: flex;
        flex-direction: column;
    }

    .equipe2 {
        display: flex;
        flex-direction: column-reverse;
    }

    .equipe1 .bloco {
        height: 300px;
        width: 100vw;

    }

    .equipe2 .bloco {
        height: 300px;
        width: 100vw;
        margin-top: 0px;

    }


    .equipe1 .foto1,
    .foto3 {
        height: 400px;
        width: 100%;
        box-shadow: none;
        background-color: transparent;
        background-size: contain;
        background-repeat: no-repeat;

    }

    .equipe2 .foto2,
    .foto4 {
        height: 400px;
        width: 100%;
        box-shadow: none;
        background-color: transparent;
        background-size: contain;
        background-repeat: no-repeat;

    }



}

@media (max-width: 400px) {

    .equipe1 .bloco {
        height: 200px;
        width: 100vw;

    }

    .equipe2 .bloco {
        height: 200px;
        width: 100vw;
        margin-top: 0px;

    }


    .equipe1 .foto1,
    .foto3 {
        height: 200px;
        width: 100%;
        box-shadow: none;
        background-color: transparent;
        background-size: contain;
        background-repeat: no-repeat;

    }

    .equipe2 .foto2,
    .foto4 {
        height: 200px;
        width: 100%;
        box-shadow: none;
        background-color: transparent;
        background-size: contain;
        background-repeat: no-repeat;

    }


}