@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background: rgb(87, 88, 88);
    background: linear-gradient(322deg, rgba(88, 88, 88, 1) 10%, rgba(33, 33, 33, 1) 90%);
    height: 100vh;
    width: 100vw;
}


.logo {
    height: 100px;
    margin-left: 30px;
}

.logo img {
    width: 110px;
    height: 100px;
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

.menu {
    width: 100%;
    height: 50px;
    font-family: 'Arial';
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu ul {
    list-style: none;
    position: relative;
}

.menu ul li {
    width: 150px;
    float: right;
}

.menu a {
    padding: 15px;
    display: block;
    text-decoration: none;
    text-align: center;
    color: #fff;
    border-radius: 4px;
}

.menu ul ul {
    position: absolute;
    visibility: hidden;
}

.menu ul li:hover ul {
    visibility: visible;
}

.menu a:hover {
    background-color: #cfcfcf;
    color: rgb(255, 252, 88);
}

.menu ul ul li {
    float: none;
    border-bottom: solid 1px #ccc;
}

.menu ul ul li a {
    background-color: rgb(88, 133, 255);
}

label [for="bt_menu"] {
    padding: 5px;
    background-color: #222;
    color: #fff;
    font-family: 'Arial';
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

#bt_menu {
    display: none;
}

form {
    width: 100vw;
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-form {
    width: 450px;
    height: 500px;
    filter: brightness(1.1);
    display: flex;
    align-items: center;
    align-content: space-between;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    padding-bottom: 200px;
}

h2#title {
    width: 100%;
    height: 100%;
    color: rgb(240, 252, 84);
    display: inline-flex;
    font-weight: 900;
    gap: 300px;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    font-weight: bolder;
}