@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: rgb(87, 88, 88);
    background: linear-gradient(322deg, rgba(88, 88, 88, 1) 10%, rgba(33, 33, 33, 1) 90%);
    height: 100%;
    width: 100%;
    margin-top: 110px;
}

body p {

}

header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

.header-container {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.7358718487394958) 0%, rgba(233,233,109,0) 100%);
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    z-index: 0;
}

#menu {
    position: fixed;
    margin-left: 40px;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
    width: 100%;
    height: 50px;
    font-family: 'Arial';
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu ul {
    list-style: none;
    position: relative;
}

.menu ul li {
    float: right;
}

.menu a {
    padding: 8px 30px;
    display: block;
    text-decoration: none;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    font-family: 'Archivo Narrow';
    /*   font-size: 1.3rem; */
    /* UM PROVÁVEL TAMANHO DE FONTE */
}

.menu ul ul {
    position: absolute;
    visibility: hidden;
    list-style: none;
}

.menu ul li:hover ul {
    visibility: visible;
}

.menu a:hover {
    background-color: #a1a1a1;
    color: rgb(255, 252, 88);
}

.menu ul ul li {
    float: none;
    border-bottom: solid 1px #ccc;
}

.menu ul ul li a {
    background-color: rgb(88, 133, 255);
    border-radius: 8px;
    list-style: none;
}

form {
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-form {
    width: 450px;
    height: 500px;
    filter: brightness(1.1);
    display: flex;
    align-items: center;
    align-content: space-between;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    padding-bottom: 200px;
}

h2#title {
    width: 100%;
    height: 100%;
    color: rgb(240, 252, 84);
    display: inline-flex;
    font-weight: 900;
    gap: 300px;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    font-weight: bolder;
    font-family: 'Varela Round', sans-serif;
}